*{
    padding: 0;
    margin: 0;
    font-family: "Playwrite MX", cursive;
    box-sizing: border-box;
    
}
.container{
    width: 100%;
    min-height: 100vh;
   background: rgb(247, 246, 246);  
}
.to-dolist{
    width: 100%;
    max-width: 550px;
    background-color: rgb(241, 221, 121);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    border-radius: 20px;
    margin-top: 25px;
}
 h1{
   justify-content: center;
   display: flex;
   color: rgb(225, 97, 6);

}
 input{
    flex: 1;
    border: rgb(250, 251, 250) solid 2px;
    padding: 10px;
    font-weight: 15px;
    outline: none;
    background: transparent;
    height: 100px;
    border-radius: 10px 50px 30px 5px;
    

}
button{
    border: none;
    background: rgb(216, 225, 224);
    width: 10%;
    cursor: pointer;
   outline: none;
   border-radius:none;
   margin: 10px;
   padding-right: 50px;
   padding-left: 20px;
   border-radius: 30px;
   padding-top:5px;
   padding-bottom: 5px;
   
}
.list button{
    display: inline-flex;
    margin: 10px;
    padding-right: 50px;
}
ul li{
  list-style: none;
  font-size: 20px;
  padding: 15px 10px  12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  color: azure;

}

/* .list button{
    display: inline-flex;
    margin: 10px;
    padding-right: 50px;
}
li.active,.done::before{
    background-color: aquamarine;
    margin: 20px;
    color: black;
}
li.active,.delete::before{
    background-color: aquamarine;
    margin: 20px;
    color: black;
    /* display: none; */
/* }
li.active,.undo::before{
    background-color: aquamarine;
    margin: 20px;
    color: black;
    /* display: none; */
/*} */ 
